body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1250px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header{
    margin: 13px auto 15px;
}

.header-ol{
    display: flex;
    gap: 62px;
}

.header-link{
    font-size: 14px;
    line-height: 14px;
    color: #1c1c1c;
    text-decoration: none;
}


.button{
    height: 40px;
    width: 157px;
    border-radius: 20px;
    background: #6f2cff;
    border: none;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    
}

.button:hover{
    background: #8e5df8; 
    transition: 2s;  
}

.main{
    background: #F6BED9;
    padding: 58px 0 59px;
}

.main-title{
    font-weight: 700;
    font-size: 54px;
    line-height: 61px;
    max-width: 470px;
}

.main-title-violate{
    color: #6F2DFF;;
}

.main-text{
    font-size: 18px;
    line-height: 30px;
    max-width: 438px;
    margin: 18px 0 ;
   
}

.main-text-bold{
    font-weight: bold;
}

.main-input{
height: 45px;
width: 268px;
border: 1px solid #6F2CFF ;
border-radius: 28px;
padding-left: 26px;

}

.main-input::placeholder{
    font-size: 15px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.27);
}

.main-input:focus{
    outline: none;
}

.maim-button{
    height: 45px;
    width: 187px;
    margin-left: 9px;



}

.footer{
  background: #20003C;
  padding: 68px 0 67px;
    
}

.footer-ul{
    display: flex;
    gap: 74px;
}

.footer-a{
    font-weight: 700;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}
.button-maim-button{
    height: 45px;
    width: 187px;
    border-radius: 20px;
    background: #6f2cff;
    border: none;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}